@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background: #cafdff;
}

nav img {
    width: 300px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
padding-left: 16px;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 700;
}
header {
    background: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 72px;
}
header h3 {
    font-size: 32px;
    margin: 16px 0 24px 0;
}

header button, #contact form button {
    background: #05c7cf;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;

}
.row {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about, #discord, #contact, footer {
    padding: 48px 0;
}

/*
 ABOUT 
 */

#about {
    background: #f8ffdc;
}

main section h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section_description {
    display: flex;
    align-items: center;
    justify-content: center;
}
#about figure, #discord figure {
    width: 40%;
}
img {
    width: 100%;
}
.section_description div {
    width: 60%;
}

#about figure, #discord figure, .section_description div {
    padding: 0 24px;
}

.section_description div p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}


/* 
DISCORD
 */

#discord {
background: #cefeff;
 }

/* 
 CONTACT */

 #contact {
     background: #dce9ff;
 }

 form {
    max-width: 600px;
    width: 100;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
 }

 input, textarea {
     margin-bottom: 24px;
     font-size: 20px;
     padding: 6px 12px;
 }

/* 
footer */

footer {
    background: #aaf5ff;
    display: flex;
    align-items: center;
    flex-direction: column;

}

footer img {
    max-width: 480px;
    margin-bottom: 16px;
}

footer div{
margin-bottom: 32px;
}

footer div a {
    padding: 0 16px;
    font-size: 24px;
}